<launch>
  <arg name="world_file"  default="$(find lucia_gazebo_worlds)/worlds/lucia.world"/>

  <arg name="base"      value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
  <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 -->
  <arg name="gui" default="true"/>
  <arg name="stacks"    value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
  <!-- <arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/> -->
  <arg name="3d_sensor" value="kinect"/>  <!-- kinect, asus_xtion_pro -->

  <arg name="turtlebot1" default="true" />
  <arg name="turtlebot2" default="true" />
  <arg name="turtlebot3" default="true" />

  <arg name="t1_initial_pose_x" default="4.2"/>
  <arg name="t1_initial_pose_y" default="4.2"/>
  <arg name="t1_initial_pose_a" default="0.0"/>

  <arg name="t2_initial_pose_x" default="5.3"/>
  <arg name="t2_initial_pose_y" default="3.8"/>
  <arg name="t2_initial_pose_a" default="0.0"/>

  <arg name="t3_initial_pose_x" default="6.3"/>
  <arg name="t3_initial_pose_y" default="4.1"/>
  <arg name="t3_initial_pose_a" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <!-- ################# turtlebot1 ############## -->
  <group ns="turtlebot1" if="$(arg turtlebot1)">
    <param name="tf_prefix" value="turtlebot1_tf" />

    <include file="$(find lucia_gazebo_worlds)/launch/includes/$(arg base).launch.xml">
      <arg name="robot_name"  value="turtlebot1" />
      <arg name="init_pose" value="-x $(arg t1_initial_pose_x) -y $(arg t1_initial_pose_y) -z 0 -Y $(arg t1_initial_pose_a)" />
      <arg name="base" value="$(arg base)"/>
      <arg name="stacks" value="$(arg stacks)"/>
      <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
    </include>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- Fake laser -->
    <node pkg="nodelet" type="nodelet" name="laserscan_nodelet_manager" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
          args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
      <param name="scan_height" value="10"/>
      <param name="output_frame_id" value="turtlebot1_tf/camera_depth_frame"/>
      <param name="range_min" value="0.45"/>
      <remap from="image" to="camera/depth/image_raw"/>
      <remap from="scan" to="scan"/>
    </node>
  </group>

  <!-- ################# turtlebot2 ############## -->
  <group ns="turtlebot2" if="$(arg turtlebot2)">
    <param name="tf_prefix" value="turtlebot2_tf" />

    <include file="$(find lucia_gazebo_worlds)/launch/includes/$(arg base).launch.xml">
      <arg name="robot_name"  value="turtlebot2" />
      <arg name="init_pose" value="-x $(arg t2_initial_pose_x) -y $(arg t2_initial_pose_y) -z 0 -Y $(arg t2_initial_pose_a)" />
      <arg name="base" value="$(arg base)"/>
      <arg name="stacks" value="$(arg stacks)"/>
      <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
    </include>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- Fake laser -->
    <node pkg="nodelet" type="nodelet" name="laserscan_nodelet_manager" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
          args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
      <param name="scan_height" value="10"/>
      <param name="output_frame_id" value="turtlebot2_tf/camera_depth_frame"/>
      <param name="range_min" value="0.45"/>
      <remap from="image" to="camera/depth/image_raw"/>
      <remap from="scan" to="scan"/>
    </node>
  </group>

  <!-- ################# turtlebot3 ############## -->
  <group ns="turtlebot3" if="$(arg turtlebot3)">
    <param name="tf_prefix" value="turtlebot3_tf" />

    <include file="$(find lucia_gazebo_worlds)/launch/includes/$(arg base).launch.xml">
      <arg name="robot_name"  value="turtlebot3" />
      <arg name="init_pose" value="-x $(arg t3_initial_pose_x) -y $(arg t3_initial_pose_y) -z 0 -Y $(arg t3_initial_pose_a)" />
      <arg name="base" value="$(arg base)"/>
      <arg name="stacks" value="$(arg stacks)"/>
      <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
    </include>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- Fake laser -->
    <node pkg="nodelet" type="nodelet" name="laserscan_nodelet_manager" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
          args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
      <param name="scan_height" value="10"/>
      <param name="output_frame_id" value="turtlebot3_tf/camera_depth_frame"/>
      <param name="range_min" value="0.45"/>
      <remap from="image" to="camera/depth/image_raw"/>
      <remap from="scan" to="scan"/>
    </node>
  </group>
</launch>
