<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find turtlebot_description)/urdf/stacks/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_description)/urdf/sensors/kinect.urdf.xacro"/>
  <xacro:include filename="$(find lucia_turtlebot_description)/urdf/sensors/asus_xtion_pro.urdf.xacro"/>

  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <sensor_kinect  parent="base_link"/>

  <!-- turtlebot3 -->
  <sensor_asus_xtion_pro  parent="base_link"
    top_cam_px="0.06" top_cam_py="0.10" top_cam_pz="1.04"
    top_cam_or="0.01" top_cam_op="0.82" top_cam_oy="-0.10" />

  <joint name="pole_xtion_joint" type="fixed">
    <origin xyz="-0.1740 0.0 0.531"
      rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="pole_xtion_link" />
  </joint>

  <link name="pole_xtion_link">
    <visual>
      <geometry>
        <box size="0.02 0.02 0.90"/>
      </geometry>
      <material name="grey" >
        <color rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.02 0.02 0.90"/>
      </geometry>
    </collision>
  </link>
</robot>
