<launch>
  <arg name="robot" />

  <arg name="map_file" default="$(find lucia_gazebo_worlds)/maps/lucia_arena.yaml"/>

  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Localization -->
  <include file="$(find multi_turtlebot_navigation)/launch/includes/amcl.launch.xml">
    <arg name="use_map_topic"  value="true"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <arg name="odom_frame_id"  value="$(arg robot)_tf/odom"/>
    <arg name="base_frame_id"  value="$(arg robot)_tf/base_footprint"/>
  </include>

  <!-- Move base -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="global_frame_id" value="/map" />
  </include>
</launch>
