<launch>
  <!-- This launch file starts the whole lucia system in Gazebo -->

  <arg name="map_file"            default="$(find lucia_gazebo_worlds)/maps/lucia_arena.yaml"/>
  <arg name="map_file_only_walls" default="$(find lucia_gazebo_worlds)/maps/lucia_arena_only_walls.yaml"/>

  <arg name="turtlebot1" default="true" />
  <arg name="turtlebot2" default="true" />
  <arg name="turtlebot3" default="true" />

  <arg name="t1_initial_pose_x" default="4.2"/>
  <arg name="t1_initial_pose_y" default="4.2"/>
  <arg name="t1_initial_pose_a" default="0.0"/>

  <arg name="t2_initial_pose_x" default="5.3"/>
  <arg name="t2_initial_pose_y" default="3.8"/>
  <arg name="t2_initial_pose_a" default="0.0"/>

  <arg name="t3_initial_pose_x" default="6.3"/>
  <arg name="t3_initial_pose_y" default="4.1"/>
  <arg name="t3_initial_pose_a" default="0.0"/>

  <!-- Gazebo -->
  <include file="$(find lucia_gazebo_worlds)/launch/lucia_world.launch">
    <arg name="turtlebot1" value="$(arg turtlebot1)" />
    <arg name="turtlebot2" value="$(arg turtlebot2)" />
    <arg name="turtlebot3" value="$(arg turtlebot3)" />

    <arg name="t1_initial_pose_x" value="$(arg t1_initial_pose_x)" />
    <arg name="t1_initial_pose_y" value="$(arg t1_initial_pose_y)" />
    <arg name="t1_initial_pose_a" value="$(arg t1_initial_pose_a)" />

    <arg name="t2_initial_pose_x" value="$(arg t2_initial_pose_x)" />
    <arg name="t2_initial_pose_y" value="$(arg t2_initial_pose_y)" />
    <arg name="t2_initial_pose_a" value="$(arg t2_initial_pose_a)" />

    <arg name="t3_initial_pose_x" value="$(arg t3_initial_pose_x)" />
    <arg name="t3_initial_pose_y" value="$(arg t3_initial_pose_y)" />
    <arg name="t3_initial_pose_a" value="$(arg t3_initial_pose_a)" />
  </include>

  <!-- ################# turtlebot1 ############## -->
  <group ns="turtlebot1" if="$(arg turtlebot1)">
    <param name="tf_prefix" value="turtlebot1_tf" />

    <!-- Navigation -->
    <include file="$(find multi_turtlebot_navigation)/launch/move_base_amcl.launch">
      <arg name="robot" value="turtlebot1" />
      <arg name="map_file" value="$(arg map_file)" />

      <arg name="initial_pose_x" value="$(arg t1_initial_pose_x)" />
      <arg name="initial_pose_y" value="$(arg t1_initial_pose_y)" />
      <arg name="initial_pose_a" value="$(arg t1_initial_pose_a)" />
    </include>

    <!-- Processing -->
    <include file="$(find lucia_launch)/launch/processing.launch">
      <arg name="sim" value="true" />
      <arg name="map_file_only_walls" value="$(arg map_file_only_walls)" />
    </include>
  </group>

  <!-- ################# turtlebot2 ############## -->
  <group ns="turtlebot2" if="$(arg turtlebot2)">
    <param name="tf_prefix" value="turtlebot2_tf" />

    <!-- Navigation -->
    <include file="$(find multi_turtlebot_navigation)/launch/move_base_amcl.launch">
      <arg name="robot" value="turtlebot2" />
      <arg name="map_file" value="$(arg map_file)" />

      <arg name="initial_pose_x" value="$(arg t2_initial_pose_x)" />
      <arg name="initial_pose_y" value="$(arg t2_initial_pose_y)" />
      <arg name="initial_pose_a" value="$(arg t2_initial_pose_a)" />
    </include>

    <!-- Processing -->
    <include file="$(find lucia_launch)/launch/processing.launch">
      <arg name="sim" value="true" />
      <arg name="map_file_only_walls" value="$(arg map_file_only_walls)" />
    </include>
  </group>

  <!-- ################# turtlebot3 ############## -->
  <group ns="turtlebot3" if="$(arg turtlebot3)">
    <param name="tf_prefix" value="turtlebot3_tf" />

    <!-- Navigation -->
    <include file="$(find multi_turtlebot_navigation)/launch/move_base_amcl.launch">
      <arg name="robot" value="turtlebot3" />
      <arg name="map_file" value="$(arg map_file)" />

      <arg name="initial_pose_x" value="$(arg t3_initial_pose_x)" />
      <arg name="initial_pose_y" value="$(arg t3_initial_pose_y)" />
      <arg name="initial_pose_a" value="$(arg t3_initial_pose_a)" />
    </include>

    <!-- Processing -->
    <include file="$(find lucia_launch)/launch/processing.launch">
      <arg name="sim" value="true" />
      <arg name="map_file_only_walls" value="$(arg map_file_only_walls)" />
    </include>
  </group>

  <include file="$(find lucia_launch)/launch/rviz.launch" />
</launch>
