<launch>
  <arg name="turtlebot1" default="false" />
  <arg name="turtlebot2" default="false" />
  <arg name="turtlebot3" default="false" />

  <arg if="$(arg turtlebot1)" name="robot" value="turtlebot1" />
  <arg if="$(arg turtlebot2)" name="robot" value="turtlebot2" />
  <arg if="$(arg turtlebot3)" name="robot" value="turtlebot3" />

  <arg name="map_file_only_walls" default="$(find lucia_gazebo_worlds)/maps/lucia_arena_only_walls.yaml"/>

  <group ns="$(arg robot)">
    <!-- Top camera -->
    <include file="$(find lucia_turtlebot_bringup)/launch/top_camera_xtion.launch">
      <arg name="publish_tf" value="false" />

      <arg if="$(arg turtlebot1)" name="serial" default="1503160511" />
      <arg if="$(arg turtlebot2)" name="serial" default="1205290078" />
      <arg if="$(arg turtlebot3)" name="serial" default="1503140980" />
    </include>
    <param name="top_camera/driver/depth_frame_id" value="$(arg robot)_tf/top_camera_depth_optical_frame" />
    <param name="top_camera/driver/rgb_frame_id" value="$(arg robot)_tf/top_camera_rgb_optical_frame" />

    <!-- Processing -->
    <include file="$(find lucia_launch)/launch/processing.launch">
      <arg name="sim" value="false" />
      <arg name="map_file_only_walls" value="$(arg map_file_only_walls)" />
    </include>
  </group>
</launch>
