<?xml version="1.0"?>

<!--
How to calibrate the top camera on the lucia school turtlebots
==============================================================

* comment out sensor_asus_xtion_pro from
  lucia_turtlebot_description/robots/turtlebot1.urdf.xacro
* roslaunch lucia_turtlebot_bringup frame_editor.launch turtlebot1:=true
* adjust the values in the GUI until the point cloud from the top camera
  matches the point cloud from the bottom camera
* update the values in turtlebot1.urdf.xacro with the values you found
-->

<launch>
  <arg name="turtlebot1" default="false" />
  <arg name="turtlebot2" default="false" />
  <arg name="turtlebot3" default="false" />

  <arg if="$(arg turtlebot1)" name="robot" value="turtlebot1" />
  <arg if="$(arg turtlebot2)" name="robot" value="turtlebot2" />
  <arg if="$(arg turtlebot3)" name="robot" value="turtlebot3" />

  <node pkg="rqt_gui" type="rqt_gui" name="frame_editor"
    args="--standalone frame_editor --args --load '$(find lucia_turtlebot_bringup)/config/frames_$(arg robot).yaml'"
    output="screen"/>

  <include file="$(find lucia_turtlebot_bringup)/launch/top_camera_xtion.launch">
    <arg name="publish_tf" value="true" />

    <arg if="$(arg turtlebot1)" name="serial" default="1503160511" />
    <arg if="$(arg turtlebot2)" name="serial" default="1205290078" />
    <arg if="$(arg turtlebot3)" name="serial" default="1503140980" />
  </include>

  <include file="$(find turtlebot_bringup)/launch/includes/3dsensor/kinect.launch.xml" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find lucia_turtlebot_description)/robots/$(arg robot).urdf.xacro'" />

  <param name="use_gui" value="False"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <node name="camera_throttle" pkg="topic_tools" type="throttle"
    args="messages /camera/depth_registered/points 2 /camera/depth_registered/points/throttle" />

  <node name="top_camera_throttle" pkg="topic_tools" type="throttle"
    args="messages /top_camera/depth_registered/points 2 /top_camera/depth_registered/points/throttle" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lucia_turtlebot_bringup)/rviz/frame_editor.rviz"/>
</launch>
